@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-500 text-black;
}

@layer components {
  blockquote {
    @apply mb-4 pl-4 border-l-4;
  }

  h1 {
    @apply text-3xl font-bold my-4;
  }

  h2 {
    @apply text-2xl font-bold my-4;
  }

  h3 {
    @apply text-xl my-4;
  }

  h4 {
    @apply text-lg my-4;
  }

  hr {
    @apply my-4;
  }

  ul {
    @apply pl-2;
  }

  /* li { */
  /*   @apply pl-2; */
  /* } */

  ol {
    @apply list-decimal ml-4;
  }

  ul {
    @apply list-disc ml-4;
  }

  p {
    @apply my-4;
  }

  table {
    @apply border-2 border-gray-500;
  }

  td, th {
    @apply border-r-2 border-gray-500;
  }

  tr, thead {
    @apply border-b-2 border-gray-500;
  }

  tr:last-child {
    @apply border-b-0;
  }

  td:last-child {
    @apply border-r-0;
  }
}
